@model IEnumerable<AutoCompany_1_1.Models.setupped_route>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["User"] != null && (Session["User"] as AutoCompany_1_1.Models.User).getRole() == "dispatcher")
{
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
}


<body>
	@using (Html.BeginForm("Index", "SetupDriver", FormMethod.Post, new { @style = "display:-webkit-inline-box" }))
	{
		@*@Html.EditorFor(model => model.FirstOrDefault().dateStart, new { htmlAttributes = new { @class = "form-control", @type = "date",@id="date" } } )*@
		<input type="date" class="form-control" name="date" id="date" value="@ViewData["date"]">
		<input type="submit" value="accept" class="form-control">
	}

	<table class="table">
		<tr>
			<th>
				Start
			</th>
			<th>
				End
			</th>
			<th>
				Bus name
			</th>
			<th>
				First driver
			</th>
			<th>
				Second driver
			</th>
			<th>
				Conductor
			</th>
			<th>
				Route name
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.dateStart)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.dateEnd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.bus.name)
				</td>
				<td>
					@if (Session["User"] != null && ((Session["User"] as AutoCompany_1_1.Models.User).getRole() == "dispatcher" || (Session["User"] as AutoCompany_1_1.Models.User).getRole() == "admin"))
					{
						@Html.ActionLink(item.firstDriver.name, "Index", "WorkerInfo", new { id = item.firstDriver.idDriver }, "")
					}
					else
					{@Html.DisplayFor(modelItem => item.firstDriver.name)}
				</td>
				<td>
					@if ((Session["User"] != null && ((Session["User"] as AutoCompany_1_1.Models.User).getRole() == "dispatcher" ||
						(Session["User"] as AutoCompany_1_1.Models.User).getRole() == "admin") &&
						item.secondDriver != null))
					{
						@Html.ActionLink(item.secondDriver.name, "Index", "WorkerInfo", new { id = item.secondDriver.idDriver }, "")
					}
					else
					{
						@Html.DisplayFor(modelItem => item.secondDriver.name)
					}
				</td>
				<td>
					@if ((Session["User"] != null && ((Session["User"] as AutoCompany_1_1.Models.User).getRole() == "dispatcher" ||
						(Session["User"] as AutoCompany_1_1.Models.User).getRole() == "admin") &&
						item.conductor != null))
					{
						@Html.ActionLink(item.conductor.name, "Index", "WorkerInfo", new { id = item.conductor.idDriver }, "")
					}
					else
					{
						@Html.DisplayFor(modelItem => item.conductor.name)
					}
				</td>
				<td>
					@Html.ActionLink(item.route.name, "Details", "Route", new { id = item.route.idRoute }, "")
				</td>
				@if (Session["User"] != null && (Session["User"] as AutoCompany_1_1.Models.User).getRole() == "dispatcher")
				{
					<td>
						@Html.ActionLink("Edit", "Edit", new { id_bs = item.idSetupped_route })
						@Html.ActionLink("Delete", "Delete", new { id = item.idSetupped_route })
					</td>
				}
			</tr>
		}

	</table>
</body>

