@model AutoCompany_1_1.Models.User

@{
	ViewBag.Title = "Index";
}
@if (Session["User"] != null)
{
	AutoCompany_1_1.Models.User user = (AutoCompany_1_1.Models.User)Session["User"];
	<h2>@user.getRole()</h2><hr />
	<script>
		function revert() {

			if ($("#login,#name,#surname,#patronymic,#phoneNumber").attr('readonly') === 'true' || $("#login").attr('readonly') === 'readonly') {
				$("#login,#name,#surname,#patronymic,#phoneNumber").removeAttr('readonly')
				$("#saveBtn").attr('style', 'display:block')
				
			} else {
				$("#login,#name,#surname,#patronymic,#phoneNumber").attr('readonly', 'true')
				$("#saveBtn").attr('style', 'display:none')
			}
		}
	</script>
	
	<input type="button" value="Редактировать" onclick="revert()" />
	using (Html.BeginForm("Index","UserHome"))
	{
		<div class="col-md-offset-2 col-md-10">
			@Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "login" } })
			@Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-offset-2 col-md-10">
			@Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "name" } })
			@Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
		</div>

		<div class="col-md-offset-2 col-md-10">
			@Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "surname" } })
		</div>

		<div class="col-md-offset-2 col-md-10">
			@Html.EditorFor(model => model.patronymic, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "patronymic" } })
		</div>

		<div class="col-md-offset-2 col-md-10">
			@Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "true", id = "phoneNumber" } })
		</div>
		<div class="col-md-offset-2 col-md-10 form-group" id="saveBtn" style="display:none">
			<input type="submit" value="save" class="btn btn-default" />
		</div>
	}
	using (Html.BeginForm("LogOut", "UserHome"))
	{
		@Html.AntiForgeryToken()
		<br />
		<div class="col-md-offset-1 col-md-10" style="display:contents">
			<input type="submit" value="log out" class="btn btn-default" />
		</div>
	}
}
else
{
	<div class="col-md-offset-2 col-md-10">
		<p style="color:red ;font-size:larger">Выполните вход</p>
	</div>
}



