@model IEnumerable<AutoCompany_1_1.Models.car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Car")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCarType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desctiption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCarType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desctiption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
